Strange errors on AND search

AND-search not working any more it seems.
They fail on version 0.8.12 but works fine on version 0.8.11.

URL: http://test.klemespen.com:3030/search?q={"pageSize":10,"query":{"AND":{"*":["*"],"source":["bookmarklet"]}}} gets this error from norch:

```json
{"code":"InternalError","message":"Cannot read property 'concat' of undefined"}
```

URL: http://test.klemespen.com:3030/search?q={"pageSize":10,"query":{"AND":{"title":["decode"],"source":["bookmarklet"]}}} gets this error from norch:
```json
{"code":"InternalError","message":"stream.push() after EOF"}
```

It's a rather big gap between search-index versions (^0.9.15 and ^0.11.0)

**Data in index:**
```
{"id":"db259fd4f636be32bad357a57aae55564179b43dfa4e54aadb31918a1b3e3e23","scoringCriteria":[{"tf":{"*￮*":1},"df":[{"gte":"*￮*","lte":"*￮*","tf":3,"setLength":3}],"tfidf":{"*￮*":0.9030899869919435},"boost":0,"score":0.9030899869919435}],"score":0.9030899869919435,"document":{"body":"Have to deal with URL encoded format? Then this site is made for you! Use the super simple online form below to decode or encode your data. If you're interested about the inner workings of URL encoding, just read the detailed description at the bottom of the page. Welcome!DecodeEncodeOther tools Do you like us?  Decode from URL encoded formatSimply use the form belowDECODELive mode OFFDecodes while you type or paste.UPLOAD FILEDecodes an entire file (max. 10MB). Details of the encodingURL encoding, also known as Percent-encoding, is a mechanism for encoding information in a Uniform Resource Identifier (URI) under certain circumstances. Although it is known as URL encoding it is, in fact, used more generally within the main Uniform Resource Identifier (URI) set, which includes both Uniform Resource Locator (URL) and Uniform Resource Name (URN). As such it is also used in the preparation of data of the \"application/x-www-form-urlencoded\" media type, as is often used in the submission of HTML form data in HTTP requests.Types of URI charactersThe characters allowed in a URI are either reserved or unreserved (or a percent character as part of a percent-encoding). Reserved characters are those characters that sometimes have special meaning. For example, forward slash characters are used to separate different parts of a URL (or more generally, a URI). Unreserved characters have no such meanings. Using percent-encoding, reserved characters are represented using special character sequences. The sets of reserved and unreserved characters and the circumstances under which certain reserved characters have special meaning have changed slightly with each revision of specifications that govern URIs and URI schemes.RFC 3986 section 2.2 Reserved Characters (January 2005)!\t*\t'\t(\t)\t;\t:\t@\t&\t=\t+\t$\t,\t/\t?\t#\t[\t]RFC 3986 section 2.3 Unreserved Characters (January 2005)A\tB\tC\tD\tE\tF\tG\tH\tI\tJ\tK\tL\tM\tN\tO\tP\tQ\tR\tS\tT\tU\tV\tW\tX\tY\tZa\tb\tc\td\te\tf\tg\th\ti\tj\tk\tl\tm\tn\to\tp\tq\tr\ts\tt\tu\tv\tw\tx\ty\tz0\t1\t2\t3\t4\t5\t6\t7\t8\t9\t-\t_\t.\t~\tOther characters in a URI must be percent encoded.Percent-encoding reserved charactersWhen a character from the reserved set (a \"reserved character\") has special meaning (a \"reserved purpose\") in a certain context, and a URI scheme says that it is necessary to use that character for some other purpose, then the character must be percent-encoded. Percent-encoding a reserved character involves converting the character to its corresponding byte value in ASCII and then representing that value as a pair of hexadecimal digits. The digits, preceded by a percent sign (\"%\"), are then used in the URI in place of the reserved character. (For a non-ASCII character, it is typically converted to its byte sequence in UTF-8, and then each byte value is represented as above.)The reserved character \"/\", for example, if used in the \"path\" component of a URI, has the special meaning of being a delimiter between path segments. If, according to a given URI scheme, \"/\" needs to be in a path segment, then the three characters \"%2F\" or \"%2f\" must be used in the segment instead of a raw \"/\".Reserved characters after percent-encoding!\t#\t$\t&\t'\t(\t)\t*\t+\t,\t/\t:\t;\t=\t?\t@\t[\t]%21\t%23\t%24\t%26\t%27\t%28\t%29\t%2A\t%2B\t%2C\t%2F\t%3A\t%3B\t%3D\t%3F\t%40\t%5B\t%5DReserved characters that have no reserved purpose in a particular context may also be percent-encoded but are not semantically different from those that are not.In the \"query\" component of a URI (the part after a ? character), for example, \"/\" is still considered a reserved character but it normally has no reserved purpose, unless a particular URI scheme says otherwise. The character does not need to be percent-encoded when it has no reserved purpose.URIs that differ only by whether a reserved character is percent-encoded or appears literally are normally considered not equivalent (denoting the same resource) unless it can be determined that the reserved characters in question have no reserved purpose. This determination is dependent upon the rules established for reserved characters by individual URI schemes.Percent-encoding unreserved charactersCharacters from the unreserved set never need to be percent-encoded.URIs that differ only by whether an unreserved character is percent-encoded or appears literally are equivalent by definition, but URI processors, in practice, may not always recognize this equivalence. For example, URI consumers shouldn't treat \"%41\" differently from \"A\" or \"%7E\" differently from \"~\", but some do. For maximum interoperability, URI producers are discouraged from percent-encoding unreserved characters.Percent-encoding the percent characterBecause the percent (\"%\") character serves as the indicator for percent-encoded octets, it must be percent-encoded as \"%25\" for that octet to be used as data within a URI.Percent-encoding arbitrary dataMost URI schemes involve the representation of arbitrary data, such as an IP address or file system path, as components of a URI. URI scheme specifications should, but often don't, provide an explicit mapping between URI characters and all possible data values being represented by those characters.Binary dataSince the publication of RFC 1738 in 1994 it has been specified[1] that schemes that provide for the representation of binary data in a URI must divide the data into 8-bit bytes and percent-encode each byte in the same manner as above. Byte value 0F (hexadecimal), for example, should be represented by \"%0F\", but byte value 41 (hexadecimal) can be represented by \"A\", or \"%41\". The use of unencoded characters for alphanumeric and other unreserved characters is typically preferred as it results in shorter URLs.Character dataThe procedure for percent-encoding binary data has often been extrapolated, sometimes inappropriately or without being fully specified, to apply to character-based data. In the World Wide Web's formative years, when dealing with data characters in the ASCII repertoire and using their corresponding bytes in ASCII as the basis for determining percent-encoded sequences, this practice was relatively harmless; it was just assumed that characters and bytes mapped one-to-one and were interchangeable. The need to represent characters outside the ASCII range, however, grew quickly and URI schemes and protocols often failed to provide standard rules for preparing character data for inclusion in a URI. Web applications consequently began using different multi-byte, stateful, and other non-ASCII-compatible encodings as the basis for percent-encoding, leading to ambiguities and difficulty interpreting URIs reliably.For example, many URI schemes and protocols based on RFCs 1738 and 2396 presume that the data characters will be converted to bytes according to some unspecified character encoding before being represented in a URI by unreserved characters or percent-encoded bytes. If the scheme does not allow the URI to provide a hint as to what encoding was used, or if the encoding conflicts with the use of ASCII to percent-encode reserved and unreserved characters, then the URI cannot be reliably interpreted. Some schemes fail to account for encoding at all, and instead just suggest that data characters map directly to URI characters, which leaves it up to implementations to decide whether and how to percent-encode data characters that are in neither the reserved nor unreserved sets.Common characters after percent-encoding (ASCII or UTF-8 based)newline\tspace\t\"\t%\t-\t.\t<\t>\t\\\t^\t_\t`\t{\t|\t}\t~%0A or %0D or %0D%0A\t%20\t%22\t%25\t%2D\t%2E\t%3C\t%3E\t%5C\t%5E\t%5F\t%60\t%7B\t%7C\t%7D\t%7EArbitrary character data is sometimes percent-encoded and used in non-URI situations, such as for password obfuscation programs, or other system-specific translation protocols.At Wikipedia you can read more about the encoding.2012-2017 URLDecodeCookie policyPrivacy policyTerms and conditionsContact","runtime_meta__duration_ms":"74","runtime_meta__async":"False","url":"https://www.urldecoder.org/","runtime_meta__memory_used_mb":"21","title":"URL Decode and Encode - Online","source":"bookmarklet","runtime_meta__logs":"","id":"db259fd4f636be32bad357a57aae55564179b43dfa4e54aadb31918a1b3e3e23"}}
{"id":"8853be1fed7672ea6e68c935f3d24ae07ea9b924a376ece7bfe40f8f130e590a","scoringCriteria":[{"tf":{"*￮*":1},"df":[{"gte":"*￮*","lte":"*￮*","tf":3,"setLength":3}],"tfidf":{"*￮*":0.9030899869919435},"boost":0,"score":0.9030899869919435}],"score":0.9030899869919435,"document":{"body":"AboutLearnBookmarkletChangelogSupportContact Paste in JSON or a URL and away you go.JSON Data/URLJSON Standard JSON Template Process ABOUTThe JSON Formatter was created to help with debugging. As JSON data is often output without line breaks to save space, it is extremely difficult to actually read and make sense of it. This little tool hoped to solve the problem by formatting the JSON data so that it is easy to read and debug by human beings.Shortly after it was created, JSON validation was added following the description set out by Douglas Crockford of json.org in RFC 4627. It has since been expanded to also validate both current competing JSON standards RFC 7159 and ECMA-404.LEARN ABOUT JSONJSON or JavaScript Object Notation is a language-independent open data format that uses human-readable text to express data objects consisting of attribute-value pairs.Although originally derived from the JavaScript scripting language, JSON data can be generated and parsed with a wide variety of programming languages including JavaScript, PHP, Python, Ruby and Java.To learn more about JSON check out some of the following links.json.orgWikipedia - JSONw3schools.com - JSON Tutorialbob.ippoli.to - Remote JSON - JSONPjson-p.orgWikipedia - JSONPBOOKMARKLETInstall the JSON Formatter & Validator Bookmarklet to quickly and easily format and validate any public JSON URL with a single click.Format & Validate JSON To install, just drag the button above into your bookmarks toolbar.CHANGELOGOctober 2016Switched copy to use clipboard.js.July 2016Fixed a RFC 7159 validation bug. Thanks Anonymous.November 2015 v4.5Added the ability to validate additional JSON standards, RFC 7159 and ECMA-404.Added tooltips.Improved url validation.Fixed a validation bug. Thanks Philipp.Fixed a parse bug. Thanks Bla.October 2015Added the ability expand/collapse all nodes.August 2015Added the ability to rename results.Added the ability to download results.Switched to HTTPS.Fixed a text rendering bug. Thanks Kyle.October 2014Fixed a template collapse/expand bug. Thanks Dmitry.Fixed a copied result entity bug. Thanks Jim.September 2014Added a four space tab template.Added a clear button.Improved grow/shrink buttons.Fixed a clipboard bug.July 2014 v4.0Redesign of frontend.Updated backend from CodeIgniter to Laravel.Added cookies to remember options.September 2013Changed hosts to further improve speed.April 2013Added autofocus to JSON Data input.Fixed stripping of invisible characters. Thanks Paul.March 2013Fixed a typo. Thanks Anonymous.Added a donation button.February 2013Fixed a number validation bug. Thanks Chris and Anonymous.January 2013Updated external libraries.Improved caching.May 2011Added ability to collapse/expand objects and arrays.Added a two space tab template.Fixed bugs reported since version 3.0.February 2011 v3.0Redesign of frontend.Improved validation logic. String validation in particular is greatly improved.Improved error messages.Added goto error ability.Added ability to accept JSONP. Check out this example.Added ability to pass JSON URL in URL as hash. Check out this example.Added a bookmarklet.Added a button to copy results to clipboard.Removed custom template capability. From now on send in template requests & examples.Removed Select All button.November 2009Upgraded hosts to improve speed.December 2008Added a Select All button.Fixed url validation and output bugs.November 2008 v2.0Improved JSON formatter.Improved JSON parser.Redesign of frontend.Added multiple results.Added templates.Added more helpful error messages.Added validation.Added resizable textareas.A Long Time Ago... in 2007 v1.0Initial release of the JSON Formatter.SUPPORTAlthough you are in no way obligated, some users have requested a way to support the project.  A big thank you goes out to all the donors who have already contributed. Your kindness is very much appreciated.CONTACTOver the years the JSON Formatter & Validator has been immensely improved through the feedback and suggestions of its users. We encourage you to continue to pass along any new recommendations, requests or bug reports.Send© 2007 - 2017 Curious Concept | Privacy Policy","runtime_meta__duration_ms":"37","runtime_meta__async":"False","url":"https://jsonformatter.curiousconcept.com/","runtime_meta__memory_used_mb":"21","title":"JSON Formatter & Validator","source":"bookmarklet","runtime_meta__logs":"","id":"8853be1fed7672ea6e68c935f3d24ae07ea9b924a376ece7bfe40f8f130e590a"}}
{"id":"20b3c3c2cec3250445ece756909aa19f55bd856d330c8aa9e1e7db66ebdb322f","scoringCriteria":[{"tf":{"*￮*":1},"df":[{"gte":"*￮*","lte":"*￮*","tf":3,"setLength":3}],"tfidf":{"*￮*":0.9030899869919435},"boost":0,"score":0.9030899869919435}],"score":0.9030899869919435,"document":{"body":" TeamFAQsGitHubProgress ReportsDownload TeamFAQsGitHubProgress ReportsDownloadFull-Text Search the Pages you Visited and Bookmarked.Available as a Chrome & Firefox Extension Watch Intro VideoDownloadThe WorldBrain (Re)search-EngineCreate, Search & Share your Personal Web of Knowledge.We are not there yet, but these are the features we work towards:Search across all appsFull-Text Search your Browsing History, Bookmarks, Evernote, Pocket, Email, Mendeley & many more. (30 sec survey: Which ones would you like?)Link & associate contentManually link content with each other and let the software analyse a variety of connections – so that you can find your knowledge, just like your brain remembers it: by making associations.Own your dataEverything is stored & processed locally. Nothing ever leaves your computer without your approval.Share with the communityVoluntarily share meta-data, content recommendations, notes and valuable connections with your friends and followers.Watch our Vision VideoThe WorldBrain project works on a structural solution to online misinformation and more trustworthy content on the web.In our vision video you’ll see how we aim to approach this.Openness. Without compromise.Our CollaborationsMozillaScience LabBerlin Open ScienceMeetup GroupGenetic Literacy ProjectUSABackfeedSocial Operating System based on the BlockchainThe Skepti ForumFacebook GroupsAbout UsThe WorldBrain project works towards a structural solution to misinformation and fake news. Doing so by developing software that enables (web)researchers to effortlessly find, evaluate and share useful content and metadata with their network.Support our work on patreon: patreon.com/WorldBrainConnect with us to follow our progress © 2017 WorldBrain UG - Imprint","runtime_meta__duration_ms":"81","runtime_meta__async":"False","url":"https://worldbrain.io/","runtime_meta__memory_used_mb":"21","title":"WorldBrain.io – Verifying the Internet with Science","source":"bookmarklet","runtime_meta__logs":"","id":"20b3c3c2cec3250445ece756909aa19f55bd856d330c8aa9e1e7db66ebdb322f"}}
```

**Only documents:**
```
{"body":"Have to deal with URL encoded format? Then this site is made for you! Use the super simple online form below to decode or encode your data. If you're interested about the inner workings of URL encoding, just read the detailed description at the bottom of the page. Welcome!DecodeEncodeOther tools Do you like us?  Decode from URL encoded formatSimply use the form belowDECODELive mode OFFDecodes while you type or paste.UPLOAD FILEDecodes an entire file (max. 10MB). Details of the encodingURL encoding, also known as Percent-encoding, is a mechanism for encoding information in a Uniform Resource Identifier (URI) under certain circumstances. Although it is known as URL encoding it is, in fact, used more generally within the main Uniform Resource Identifier (URI) set, which includes both Uniform Resource Locator (URL) and Uniform Resource Name (URN). As such it is also used in the preparation of data of the \"application/x-www-form-urlencoded\" media type, as is often used in the submission of HTML form data in HTTP requests.Types of URI charactersThe characters allowed in a URI are either reserved or unreserved (or a percent character as part of a percent-encoding). Reserved characters are those characters that sometimes have special meaning. For example, forward slash characters are used to separate different parts of a URL (or more generally, a URI). Unreserved characters have no such meanings. Using percent-encoding, reserved characters are represented using special character sequences. The sets of reserved and unreserved characters and the circumstances under which certain reserved characters have special meaning have changed slightly with each revision of specifications that govern URIs and URI schemes.RFC 3986 section 2.2 Reserved Characters (January 2005)!\t*\t'\t(\t)\t;\t:\t@\t&\t=\t+\t$\t,\t/\t?\t#\t[\t]RFC 3986 section 2.3 Unreserved Characters (January 2005)A\tB\tC\tD\tE\tF\tG\tH\tI\tJ\tK\tL\tM\tN\tO\tP\tQ\tR\tS\tT\tU\tV\tW\tX\tY\tZa\tb\tc\td\te\tf\tg\th\ti\tj\tk\tl\tm\tn\to\tp\tq\tr\ts\tt\tu\tv\tw\tx\ty\tz0\t1\t2\t3\t4\t5\t6\t7\t8\t9\t-\t_\t.\t~\tOther characters in a URI must be percent encoded.Percent-encoding reserved charactersWhen a character from the reserved set (a \"reserved character\") has special meaning (a \"reserved purpose\") in a certain context, and a URI scheme says that it is necessary to use that character for some other purpose, then the character must be percent-encoded. Percent-encoding a reserved character involves converting the character to its corresponding byte value in ASCII and then representing that value as a pair of hexadecimal digits. The digits, preceded by a percent sign (\"%\"), are then used in the URI in place of the reserved character. (For a non-ASCII character, it is typically converted to its byte sequence in UTF-8, and then each byte value is represented as above.)The reserved character \"/\", for example, if used in the \"path\" component of a URI, has the special meaning of being a delimiter between path segments. If, according to a given URI scheme, \"/\" needs to be in a path segment, then the three characters \"%2F\" or \"%2f\" must be used in the segment instead of a raw \"/\".Reserved characters after percent-encoding!\t#\t$\t&\t'\t(\t)\t*\t+\t,\t/\t:\t;\t=\t?\t@\t[\t]%21\t%23\t%24\t%26\t%27\t%28\t%29\t%2A\t%2B\t%2C\t%2F\t%3A\t%3B\t%3D\t%3F\t%40\t%5B\t%5DReserved characters that have no reserved purpose in a particular context may also be percent-encoded but are not semantically different from those that are not.In the \"query\" component of a URI (the part after a ? character), for example, \"/\" is still considered a reserved character but it normally has no reserved purpose, unless a particular URI scheme says otherwise. The character does not need to be percent-encoded when it has no reserved purpose.URIs that differ only by whether a reserved character is percent-encoded or appears literally are normally considered not equivalent (denoting the same resource) unless it can be determined that the reserved characters in question have no reserved purpose. This determination is dependent upon the rules established for reserved characters by individual URI schemes.Percent-encoding unreserved charactersCharacters from the unreserved set never need to be percent-encoded.URIs that differ only by whether an unreserved character is percent-encoded or appears literally are equivalent by definition, but URI processors, in practice, may not always recognize this equivalence. For example, URI consumers shouldn't treat \"%41\" differently from \"A\" or \"%7E\" differently from \"~\", but some do. For maximum interoperability, URI producers are discouraged from percent-encoding unreserved characters.Percent-encoding the percent characterBecause the percent (\"%\") character serves as the indicator for percent-encoded octets, it must be percent-encoded as \"%25\" for that octet to be used as data within a URI.Percent-encoding arbitrary dataMost URI schemes involve the representation of arbitrary data, such as an IP address or file system path, as components of a URI. URI scheme specifications should, but often don't, provide an explicit mapping between URI characters and all possible data values being represented by those characters.Binary dataSince the publication of RFC 1738 in 1994 it has been specified[1] that schemes that provide for the representation of binary data in a URI must divide the data into 8-bit bytes and percent-encode each byte in the same manner as above. Byte value 0F (hexadecimal), for example, should be represented by \"%0F\", but byte value 41 (hexadecimal) can be represented by \"A\", or \"%41\". The use of unencoded characters for alphanumeric and other unreserved characters is typically preferred as it results in shorter URLs.Character dataThe procedure for percent-encoding binary data has often been extrapolated, sometimes inappropriately or without being fully specified, to apply to character-based data. In the World Wide Web's formative years, when dealing with data characters in the ASCII repertoire and using their corresponding bytes in ASCII as the basis for determining percent-encoded sequences, this practice was relatively harmless; it was just assumed that characters and bytes mapped one-to-one and were interchangeable. The need to represent characters outside the ASCII range, however, grew quickly and URI schemes and protocols often failed to provide standard rules for preparing character data for inclusion in a URI. Web applications consequently began using different multi-byte, stateful, and other non-ASCII-compatible encodings as the basis for percent-encoding, leading to ambiguities and difficulty interpreting URIs reliably.For example, many URI schemes and protocols based on RFCs 1738 and 2396 presume that the data characters will be converted to bytes according to some unspecified character encoding before being represented in a URI by unreserved characters or percent-encoded bytes. If the scheme does not allow the URI to provide a hint as to what encoding was used, or if the encoding conflicts with the use of ASCII to percent-encode reserved and unreserved characters, then the URI cannot be reliably interpreted. Some schemes fail to account for encoding at all, and instead just suggest that data characters map directly to URI characters, which leaves it up to implementations to decide whether and how to percent-encode data characters that are in neither the reserved nor unreserved sets.Common characters after percent-encoding (ASCII or UTF-8 based)newline\tspace\t\"\t%\t-\t.\t<\t>\t\\\t^\t_\t`\t{\t|\t}\t~%0A or %0D or %0D%0A\t%20\t%22\t%25\t%2D\t%2E\t%3C\t%3E\t%5C\t%5E\t%5F\t%60\t%7B\t%7C\t%7D\t%7EArbitrary character data is sometimes percent-encoded and used in non-URI situations, such as for password obfuscation programs, or other system-specific translation protocols.At Wikipedia you can read more about the encoding.2012-2017 URLDecodeCookie policyPrivacy policyTerms and conditionsContact","runtime_meta__duration_ms":"74","runtime_meta__async":"False","url":"https://www.urldecoder.org/","runtime_meta__memory_used_mb":"21","title":"URL Decode and Encode - Online","source":"bookmarklet","runtime_meta__logs":"","id":"db259fd4f636be32bad357a57aae55564179b43dfa4e54aadb31918a1b3e3e23"}
{"body":"AboutLearnBookmarkletChangelogSupportContact Paste in JSON or a URL and away you go.JSON Data/URLJSON Standard JSON Template Process ABOUTThe JSON Formatter was created to help with debugging. As JSON data is often output without line breaks to save space, it is extremely difficult to actually read and make sense of it. This little tool hoped to solve the problem by formatting the JSON data so that it is easy to read and debug by human beings.Shortly after it was created, JSON validation was added following the description set out by Douglas Crockford of json.org in RFC 4627. It has since been expanded to also validate both current competing JSON standards RFC 7159 and ECMA-404.LEARN ABOUT JSONJSON or JavaScript Object Notation is a language-independent open data format that uses human-readable text to express data objects consisting of attribute-value pairs.Although originally derived from the JavaScript scripting language, JSON data can be generated and parsed with a wide variety of programming languages including JavaScript, PHP, Python, Ruby and Java.To learn more about JSON check out some of the following links.json.orgWikipedia - JSONw3schools.com - JSON Tutorialbob.ippoli.to - Remote JSON - JSONPjson-p.orgWikipedia - JSONPBOOKMARKLETInstall the JSON Formatter & Validator Bookmarklet to quickly and easily format and validate any public JSON URL with a single click.Format & Validate JSON To install, just drag the button above into your bookmarks toolbar.CHANGELOGOctober 2016Switched copy to use clipboard.js.July 2016Fixed a RFC 7159 validation bug. Thanks Anonymous.November 2015 v4.5Added the ability to validate additional JSON standards, RFC 7159 and ECMA-404.Added tooltips.Improved url validation.Fixed a validation bug. Thanks Philipp.Fixed a parse bug. Thanks Bla.October 2015Added the ability expand/collapse all nodes.August 2015Added the ability to rename results.Added the ability to download results.Switched to HTTPS.Fixed a text rendering bug. Thanks Kyle.October 2014Fixed a template collapse/expand bug. Thanks Dmitry.Fixed a copied result entity bug. Thanks Jim.September 2014Added a four space tab template.Added a clear button.Improved grow/shrink buttons.Fixed a clipboard bug.July 2014 v4.0Redesign of frontend.Updated backend from CodeIgniter to Laravel.Added cookies to remember options.September 2013Changed hosts to further improve speed.April 2013Added autofocus to JSON Data input.Fixed stripping of invisible characters. Thanks Paul.March 2013Fixed a typo. Thanks Anonymous.Added a donation button.February 2013Fixed a number validation bug. Thanks Chris and Anonymous.January 2013Updated external libraries.Improved caching.May 2011Added ability to collapse/expand objects and arrays.Added a two space tab template.Fixed bugs reported since version 3.0.February 2011 v3.0Redesign of frontend.Improved validation logic. String validation in particular is greatly improved.Improved error messages.Added goto error ability.Added ability to accept JSONP. Check out this example.Added ability to pass JSON URL in URL as hash. Check out this example.Added a bookmarklet.Added a button to copy results to clipboard.Removed custom template capability. From now on send in template requests & examples.Removed Select All button.November 2009Upgraded hosts to improve speed.December 2008Added a Select All button.Fixed url validation and output bugs.November 2008 v2.0Improved JSON formatter.Improved JSON parser.Redesign of frontend.Added multiple results.Added templates.Added more helpful error messages.Added validation.Added resizable textareas.A Long Time Ago... in 2007 v1.0Initial release of the JSON Formatter.SUPPORTAlthough you are in no way obligated, some users have requested a way to support the project.  A big thank you goes out to all the donors who have already contributed. Your kindness is very much appreciated.CONTACTOver the years the JSON Formatter & Validator has been immensely improved through the feedback and suggestions of its users. We encourage you to continue to pass along any new recommendations, requests or bug reports.Send© 2007 - 2017 Curious Concept | Privacy Policy","runtime_meta__duration_ms":"37","runtime_meta__async":"False","url":"https://jsonformatter.curiousconcept.com/","runtime_meta__memory_used_mb":"21","title":"JSON Formatter & Validator","source":"bookmarklet","runtime_meta__logs":"","id":"8853be1fed7672ea6e68c935f3d24ae07ea9b924a376ece7bfe40f8f130e590a"}
{"body":" TeamFAQsGitHubProgress ReportsDownload TeamFAQsGitHubProgress ReportsDownloadFull-Text Search the Pages you Visited and Bookmarked.Available as a Chrome & Firefox Extension Watch Intro VideoDownloadThe WorldBrain (Re)search-EngineCreate, Search & Share your Personal Web of Knowledge.We are not there yet, but these are the features we work towards:Search across all appsFull-Text Search your Browsing History, Bookmarks, Evernote, Pocket, Email, Mendeley & many more. (30 sec survey: Which ones would you like?)Link & associate contentManually link content with each other and let the software analyse a variety of connections – so that you can find your knowledge, just like your brain remembers it: by making associations.Own your dataEverything is stored & processed locally. Nothing ever leaves your computer without your approval.Share with the communityVoluntarily share meta-data, content recommendations, notes and valuable connections with your friends and followers.Watch our Vision VideoThe WorldBrain project works on a structural solution to online misinformation and more trustworthy content on the web.In our vision video you’ll see how we aim to approach this.Openness. Without compromise.Our CollaborationsMozillaScience LabBerlin Open ScienceMeetup GroupGenetic Literacy ProjectUSABackfeedSocial Operating System based on the BlockchainThe Skepti ForumFacebook GroupsAbout UsThe WorldBrain project works towards a structural solution to misinformation and fake news. Doing so by developing software that enables (web)researchers to effortlessly find, evaluate and share useful content and metadata with their network.Support our work on patreon: patreon.com/WorldBrainConnect with us to follow our progress © 2017 WorldBrain UG - Imprint","runtime_meta__duration_ms":"81","runtime_meta__async":"False","url":"https://worldbrain.io/","runtime_meta__memory_used_mb":"21","title":"WorldBrain.io – Verifying the Internet with Science","source":"bookmarklet","runtime_meta__logs":"","id":"20b3c3c2cec3250445ece756909aa19f55bd856d330c8aa9e1e7db66ebdb322f"}
```


Both of those links seem to work- are they working for you as well now?

Yes, that was the old version running, it's updated now.

Sooooo it works..? :)

No, try once more now.

Ah yes- broken...

I am seeing this problem as well. I bumped the search-index dependency from ^0.11.0 to ^0.15.0 and searches that previously gave the {"code":"InternalError","message":"Cannot read property 'concat' of undefined"} error now return results. 

@hutbert great- that sounds like its fixed in the latest version?

I think this PR fixes it - https://github.com/fergiemcdowall/norch/pull/156 - but from the notes there it breaks other functionality so perhaps something else is needed. 

So, it's fixed for search-index, but not for Norch before we get it to build with the newest version?

@eklem ah- good point. Will do.

Ping on this issue. Norch /search essentially unusable until #156 is merged/resolved.

Should be fixed in the upcoming version